#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}
# http://prometheus.io/docs/operating/configuration/

{{ __otus_prometheus_config | to_nice_yaml(width=50, explicit_start=True, explicit_end=True, indent=2) }}
